<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
<link rel="stylesheet" href="/assets/style.css">
 <title>UBER</title>
  
</head>
<body>
    <header>
        <div class="carousel fade-carousel slide" id="bs-carousel">
            <!-- Overlay -->
            <div class="overlay"></div>
            
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="item slides active">
                <div class="slide-1"></div>
                <div class="hero">
                  <hgroup>
                      <h3>Uber Prototype</h3>        
                      <h5>follow simple steps to get a ride</h5>
                  </hgroup>
                  <a href="/start-uber" class="btn btn-success btn-lg" style="text-transform: capitalize;">Press Start&nbsp;<i style="font-size: smaller;" class="fa fa-play" aria-hidden="true"></i></a>
                 </div>
              </div>
             
              
            </div> 
          </div>
    </header>
    <section>
    <div class="jumbotron">
        <div class="row w-100">
                <div class="col-md-3">
                    <div class="card border-info mx-sm-1 p-3">
                        <div class="card border-info shadow text-info p-3 my-card" ><span class="fa fa-thumb-tack" aria-hidden="true"></span></div>
                        <div class="text-info text-center mt-3"><h4>Step 1</h4></div>
                        <div class="text-info text-center mt-2"><h1>Origin Location</h1></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card border-warning mx-sm-1 p-3">
                        <div class="card border-warning shadow text-warning p-3 my-card"><span class="fa fa-car" aria-hidden="true"></span></div>
                        <div class="text-warning text-center mt-3"><h4>Step 2</h4></div>
                        <div class="text-warning text-center mt-2"><h1>Select Driver</h1></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card border-danger mx-sm-1 p-3">
                        <div class="card border-danger shadow text-danger p-3 my-card" ><span class="fa fa-map-marker" aria-hidden="true"></span></div>
                        <div class="text-danger text-center mt-3"><h4>Step 3</h4></div>
                        <div class="text-danger text-center mt-2"><h1>Pick a Destination</h1></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card border-success mx-sm-1 p-3">
                        <div class="card border-success shadow text-success p-3 my-card" ><span class="fa fa-inbox" aria-hidden="true"></span></div>
                        <div class="text-success text-center mt-3"><h4>Finally</h4></div>
                        <div class="text-success text-center mt-2"><h1>Getting a Ride!</h1></div>
                    </div>
                </div>
             </div>
        </div>
    </section>
    <footer class="footer">
        <div class="container">
          <span class="text-muted">Copyright © Uber Prototype 2020 </span>
        </div>
      </footer>
   
</body>
</html>